.changePassword {
	width: 1083px;
	height: 622px;
	border: 1px solid #e7e7e7;
}
.changePassword .first {
	width: 100%;
	height: 56px;
	border-bottom:1px solid #e7e7e7;
}
.changePassword .first p {
	font-size: 18px;
	line-height: 58px;
	color: #303030;
	margin-left: 22px;
}
.changePassword .second {
	margin: 20px auto 0;
	position: relative;
}


.changePassword .cpleft input {
	border: 1px solid #d3d3d3;
	background-color: #f9f9f9;
	height: 42px;
	margin-left: 40px;
	padding-left: 15px;
	font-size: 16px;
	/*color: #999;*/
}
.changePassword .second .cpleft button {
	width: 150px;
	height: 50px;
	border-radius: 5px;
	margin: 40px 0 0 40px;
	font-size: 20px;
	color: #fff;
	background-color: #f08200;
	cursor: pointer;	
}
.changePassword .cpleft .inp1,.changePassword .cpleft .inp2,.changePassword .cpleft .inp3,.cpleft .inp5 {
	width: 291px;
}
.changePassword .second .cpleft .inp1 {
	margin-top: 40px;
}
.cpleft .inp2,.cpleft .inp3 {
	margin-top: 30px;
}
.changePassword .second .cpleft .inp5 {
	margin-left: 0;
}
.changePassword .second .cpleft .inp4 {
	width: 97px;
	margin: 30px 0 0 40px;
	vertical-align: top;
}
.changePassword .second .cpleft .phoneyzm {
	width: 306px;
	height: 42px;
	margin: 30px 0 0 40px;
	position: relative;
}
.changePassword .second .cpleft .phoneyzm span {
	font-size: 14px;
	color: #fff;
	background-color: #498e3d;
	padding: 8px 18px;
	position: absolute;
	right: 3px;
	top: 6px;
}
.changePassword .cpleft,.changePassword .cpright {
	display: inline-block;
	vertical-align: middle;
}
.changePassword .cpright {
	width: 454px;
	height: 184px;
	background-color: #d9d9d9;
	border-radius: 10px;
	margin-left: 186px;
	text-align: center;
	line-height: 184px;
	vertical-align: middle;
}
.changePassword .cpright span ,.changePassword .cpright img {
	vertical-align: middle;
}
.changePassword .cpright img {
	margin-right: 20px;
}
.changePassword .cpright span {
	font-size: 24px;
	color: #f08200;
}
#clearsp {
	color: #579b4a;
	font-size: 14px;
	position: absolute;
	left: 260px;
	top: 275px;
}
#imgp{
	position: absolute;
	left: 175px;
	top: 265px;
}









