/*尾部*/
.foot {
	width: 100%;
	height: 388px;
}
.foot .fo-1,.foot .fo-2,.foot .fo-3 {
	width: 100%;
	height: 104px;
	border-top:1px solid #e8e8e8;
}
.fo-1-mid {
	width: 1281px;
	height: 64px;
	margin: 0 auto;
	padding: 20px 0;
}
.fo-1-mid div {
	width: 166px;
	height:62px;
	padding: 0 44px;
	float: left;
	border-right: 1px solid #e8e8e8;
	line-height: 62px;
}
.fo-1-mid .xuebi3f {
	width: 188px;
	padding: 0 33px;
}
.fo-1-mid .xuebi5f {
	border-right: 0;
}
.fo-1-mid div span {
	font-size: 24px;
	color: #333;
	vertical-align: middle;
}
.xuebi1,.xuebi2,.xuebi3,.xuebi4,.xuebi5 {
	display: inline-block;
	vertical-align: middle;
	margin-right: 18px;
}
.xuebi1 {
	background: url(../img/xuebitu/sprite.png) no-repeat;
	height:44px;
	width:44px;
	background-position:0 -1684px;
}
.xuebi2 {
	background: url(../img/xuebitu/sprite.png) no-repeat;
	height:44px;
	width:44px;
	background-position:0 -1512px;
}
.xuebi3 {
	background: url(../img/xuebitu/sprite.png) no-repeat;
	height:44px;
	width:44px;
	background-position:0 -1596px;
}
.xuebi4 {
	background: url(../img/xuebitu/sprite.png) no-repeat;
	height:44px;
	width:44px;
	background-position:0 -1640px;
}
.xuebi5 {
	background: url(../img/xuebitu/sprite.png) no-repeat;
	height:44px;
	width:44px;
	background-position:0 -1728px;
}
.foot .fo-2 {
	height: 200px;
}
.foot .fo-2 .fo-2-mid {
	width: 1281px;
	height: 100%;
	margin: 20px auto;
}
.foot .fo-2 .fo-2-mid div {
	float: left;
}
.fo-2-mid-d1 {
	width: 372px;
	height: 126px;
	margin: 0 37px 0 31px;
}
.fo-2-mid-d1 img:nth-child(1) {
	width: 372px;
}
.fo-2-mid-d1 p {
	width: 372px;
	height: 21px;
	margin-top: 43px;
}
.fo-2-mid-d1 img:nth-child(2) {
	width: 20px;
	height: 20px;
	margin-left: 21px;
	margin-right: 3px;
	vertical-align: middle;
}
.fo-2-mid-d1 p span,.fo-2-mid-d1 p em {
	font-size: 18px;
	line-height: 30px;
	vertical-align: middle;
}
.fo-2-mid-d1 p span {
	color: #666;
}
.fo-2-mid-d1 p em {
	color:#f08200;
}

.fo-2-mid-d2,.fo-2-mid-d3 {
	width: 130px;
	height: 163px;
	margin-right: 40px;
}
.fo-2-mid-d2 p,.fo-2-mid-d3 p {
	width: 130px;
	font-size: 16px;
	color: #666;
	line-height: 42px;
	text-align: center;
}
.fo-2-mid-d4,.fo-2-mid-d7 {
	width: 84px;
	height: 120px;
}
.fo-2-mid-d5 {
	width: 66px;
	height: 120px;
}
.fo-2-mid-d6 {
	width: 88px;
	height: 120px;
}
.fo-2-mid-d4,.fo-2-mid-d5,.fo-2-mid-d6 {
	margin-right: 46px;
}

.fo-2-mid-d4 p:nth-child(1),.fo-2-mid-d5 p:nth-child(1),.fo-2-mid-d6 p:nth-child(1),.fo-2-mid-d7 p:nth-child(1) {
	font-size:16px;
	color: #333;
	line-height: 30px;
	margin-bottom: 10px;
}
.fo-2-mid-d4 p:nth-child(2),.fo-2-mid-d4 p:nth-child(3),.fo-2-mid-d4 p:nth-child(4),
.fo-2-mid-d5 p:nth-child(2),.fo-2-mid-d5 p:nth-child(3),.fo-2-mid-d5 p:nth-child(4),
.fo-2-mid-d6 p:nth-child(2),.fo-2-mid-d6 p:nth-child(3),.fo-2-mid-d6 p:nth-child(4),
.fo-2-mid-d7 p:nth-child(2),.fo-2-mid-d7 p:nth-child(3),.fo-2-mid-d7 p:nth-child(4)
{
	font-size: 14px;
	color: #999;
	line-height: 30px;
}

.foot .fo-3 {
	height: 82px;
}
.foot .fo-3 .fo-3-mid {
	width: 349px;
	margin: 20px auto 0;
}
.foot .fo-3 .fo-3-mid p {
	font-size: 14px;
	color: #666;
	line-height: 27px;
	text-align: center;
}
.foot .fo-3 .fo-3-mid p:nth-child(2){
	color: #f08200;
}
