.middle {
	display: none;
}
.bottom {
	display: none;
}

/*头部部分*/
.fridayWrapGWC {
	height: 130px;
	width: 100%;
	border-bottom: 1px solid #E2E2E2;
}
.friGwc {
	width: 1280px;
	margin: 0 auto;
}
.friGwc img {
	height: 68px;
	margin-top: 31px;
	float: left;
}
.friGwc .listW {
	float: right;
}
.friGwc p {
	float: left;
	height: 40px;
	margin: 55px 0 0 35px;
	line-height: 40px;
	color: #666;
	font-size: 20px;
}
.friGwc .myGWCF {
	color: #F08200;
}
.orderno-wrap {
	width: 1280px;
	margin: 0 auto;
}
/* 收货人信息部分 */
.alertAddrWrap {
	background-color: #fff;
	z-index: 5;
}
.alertAddrWrap h5 {
	width: 100%;
	height: 68px;
	line-height: 68px;
	color: #666;
	font-size: 18px;
	border-bottom: 1px solid #E2E2E2;
	margin-bottom: 20px;
	padding-left: 135px;
}
.aleMessW {
	border-bottom: 1px solid #E2E2E2;
}
.aleMessW>div {
	margin-bottom: 20px;
}
.alertAddrWrap .addrStar {
	color: #EC6A17;
	vertical-align: top;
}
.alertAddrWrap .aSW {
	width: 115px;
	height: 18px;
	float: left;
	text-align: right;
	margin: 8.5px 10px 0 0;
}
.alertAddrWrap .aSW .spanF {	
	line-height: 18px;
	color: #333;
	font-size: 18px;
	text-align: right;
}

.aleMessW .nameInpW {
	width: 328px;
	float: left;
}
.aleMessW .inputW {	
	height: 33px;
	border: 1px solid #E2E2E2;
}
.aleMessW input {
	margin-top: 8.5px;
	padding-left: 15px;
	font-size: 16px;
}
.aleMessW input::-webkit-input-placeholder {
	color: #999;
	font-size: 16px;
	line-height: 30px;
}

.aleMessW input:-moz-placeholder {
	color: #999;
	font-size: 16px;
}

.aleMessW input::-moz-placeholder {
	color: #999;
	font-size: 16px;
}

.aleMessW input:-ms-input-placeholder {
	color: #999;
	font-size: 16px;
}

/* 选择地区部分 */
.sele {
	position: relative;
}
#sheng,#shi,#xian {
	display: inline-block;
	width: 140px;
	height: 33px;
	border: 1px solid #e2e2e2;
	vertical-align: middle;
	position: relative;
	float: left;
	margin-right: 20px;
}
#sheng div,#shi div,#xian div {
	display: inline-block;
	width: 14px;
	height: 10px;
	position: absolute;
	right:10px;
	top: 50%;
	transform: translateY(-50%);
	z-index: 2;
}
#sheng div img,#shi div img,#xian div img {
	width: 100%;
	height: 100%;
}
.sele #sheng span, .sele #shi span, .sele #xian span{
	padding:0 17px;
	font-size: 18px;
	color: #333;
	line-height: 33px;
}

.sele option {
	/*display: none;*/
	background-color: #fff;
}

option {
	padding: 8px 15px;
	font-size: 18px;
}
.sele .last-sp {
	padding-right:0;
}

#sh {
	width: 142px;
	height: 200px;
	overflow-x: hidden;
	overflow-y: scroll;
	position: absolute;
	top: 35px;
	left: 123px;
	display: none;
}
#city {
	width: 142px;
	height: 200px;
	overflow-x: hidden;
	position: absolute;
	top: 35px;
	left: 285px;
	display: none;
	z-index: 3;
}
#xi {
	width: 142px;
	height: 200px;
	position: absolute;
	top: 35px;
	left: 447px;
	overflow-x: hidden;
	overflow-y: scroll;
	display: none;
}
/*详细地址*/
.alertAddrWrap .dzInpW {
	width: 463px;
	float: left;
}
.alertAddrWrap .dzInpW input {
	width: 420px;
}
/*联系方式*/
.alertAddrWrap .phInpW {
	width: 150px;
	float: left;
}
.alertAddrWrap .phInpW input {
	width: 130px;
}
.alertAddrWrap .quhInpW {
	width: 46px;
	float: left;
}
.alertAddrWrap .quhInpW input {
	width: 36px;
	padding-left: 8px;
}
.alertAddrWrap .dhInpW {
	width: 122px;
	float: left;
}
.alertAddrWrap .dhInpW input {
	width: 102px;
}
.alertAddrWrap .spanPH {
	line-height:33px;
	color: #333;
	font-size: 18px;
	float: left;
	margin: 0 9px;
}

.alertAddrWrap .setAddrF {
	height: 40px;
	width: 205px;
	color: #fff;
	background-color: #F08200;
	text-align: center;
	border-radius: 5px;
	margin: 0 0 20px 135px;
	font-size: 16px;
	line-height: 40px;
	cursor: pointer;
}

/* 商品信息部分*/
.spall-wrap {
	width: 1280px;
	margin: 0 auto;
}
.spmes {
	width: 1280px;
	margin: 0 auto;
	height: 68px;
	line-height: 68px;
	color: #666;
	font-size: 18px;
}
.dianW {
	border: 1px solid #E2E2E2;
	width: 1280px;
	margin: 0 auto 20px;
}
.dianH {
	width: 100%;
	background-color: #f2f2f2;
}
.dianH span {
	font-size: 16px;
	float: left;
	line-height: 45px;
}

.dianH .dianName {
	width: 350px;
	margin-left: 55px;
}
.dianH .guige, .dianH .danjia, .dianH .shuliang, .dianH .jine, .dianH .caozuo {
	width: 170px;
	text-align: center;
}
.DianUl {
	overflow: hidden;
}
.DianUl li {
	height: 100px;
	width: 100%;
	margin-top: 20px;
	border-bottom: 1px solid #E2E2E2;
}
.DianUl .xuankaung {
	display: inline-block;
	float: left;
	margin: 32px 20px 0;
}
.DianUl .gwcDet {
	width: 350px;
	float: left;
	margin-left: 55px;
}
.DianUl .gwcDet img {
	float: left;
	margin-right: 20px;
}
.DianUl .yn8 {
	float: left;
	height: 80px;
	line-height: 80px;
	color: #666;
	font-size: 14px;	
}
.DianUl .guiggeNum, .DianUl .danjiaNum {
	color: #999;
	font-size: 14px;
}
.DianUl .jineNum {
	color: #666;
	font-size: 14px;
}
.DianUl .delete {
	color: #498E3D;
	font-size: 14px;
}
.DianUl .guiggeNum, .DianUl .danjiaNum, .DianUl .jineNum, .DianUl .delete{
	width: 170px;
	text-align: center;
	float: left;
	height: 80px;
	line-height: 80px;
}
.DianUl .jiajianW {
	width: 140px;
	text-align: center;
	float: left;
	margin: 24px 0 0 30px;
}
.DianUl .fdR3-4-2, .DianUl .fdR3-4-4 {
	width: 32px;
	height: 32px;
	background-color: #f2f2f2;
	text-align: center;
	border: 1px solid #d3d3d3;
	float: left;
	/*margin-top: 23px;*/
	cursor: pointer;
}
.DianUl .fdR3-4-2NS span {
	display: inline-block;
	background:url(../img/xuebitu/sprite.png) no-repeat;
	height:3px;width:15px;background-position:0 -94px;
	margin-top: 14.5px;	
}
.DianUl .fdR3-4-2S span {
	display: inline-block;
	background:url(../img/xuebitu/sprite.png) no-repeat;
	height:3px;width:15px;background-position:0 -97px;
	margin-top: 14.5px;
}
.DianUl .fdR3-4-3 {
	width: 45px;
	height: 32px;
	text-align: center;
	line-height: 32px;
	font-size: 18px;
	color: #666;
	border-top: 1px solid #d3d3d3;
	border-bottom: 1px solid #d3d3d3;
	float: left;
	/*margin-top: 23px;*/
}
.DianUl .fdR3-4-4 span {
	display: inline-block;
	background:url(../img/xuebitu/sprite.png) no-repeat;
	height:15px;width:15px;background-position:0 -117px;
	margin-top: 9.5px;
}
.DianUl .AllMoney {
	height: 80px;
}
.dianW .AllMoney p{
	height: 80px;
	line-height: 80px;
	display: inline-block;
}
.dianW .yunfei {
	margin-left: 690px;
}
.AllMoney .aMNum, .AllMoney .yunfeinum, .AllMoney .heji-num{
	font-size: 24px;
	color: #ff5757;
	margin-right: 35px;
}
.AllMoney .aMF {
	font-size: 18px;
	color: #666;
	margin-right: 20px;
}

/*发票部分*/
.kaipiao-wrap {
	border-top: 1px solid #E2E2E2;
	border-bottom: 1px solid #E2E2E2;
}
.kaipiao-wrap .kpmes {
	height: 68px;
	line-height: 68px;
	color: #666;
	font-size: 18px;
}
.is-needkp {
	margin-bottom: 20px;
}
.noneed, .self, .danwei {
	float: left;
	cursor: pointer;
}
.noneed img, .self img, .danwei img {
	width: 16px;
	height: 16px;
	margin-right: 10px;
}
.noneed span, .self span, .danwei span {
	display: inline-block;
	font-size: 14px;
	color: #666;
	vertical-align: top;
	height: 16px;
	line-height: 16px;
	margin-right: 40px;
}
.fp-top .fptop-f {
	height: 35px;
	line-height: 35px;
	color: #666;
	font-size: 14px;
	float: left;
}
.fp-top .fpinput {
	float: left;
	border: 1px solid #E2E2E2;
	height: 35px;
	width: 370px;
	margin: 0 10px;
}
.fp-top .fpinput input {
	height: 33px;
	width: 350px;
	padding-left: 10px;
	line-height: 33px;
	font-size: 14px;
}
.fp-top .zhuyiw {
	margin-bottom: 20px;
}
.fp-top .zhuyiw span{
	color: #ea5b0c;
	font-size: 14px;
	display: inline-block;
	float: left;
	margin: 10px 5px 0 0;
}
.fp-top .zhuyiw p {
	float: left;
	line-height: 35px;
	height: 35px;
	color: #666;
	font-size: 14px;
}

/*备注部分*/
.beizhuw .addbzf {
	height: 68px;
	line-height: 68px;
	color: #666;
	font-size: 18px;
}
.beizhuw .bzinput {
	border: 1px solid #E2E2E2;
	height: 35px;
	width: 625px;
	margin-bottom: 30px;
}
.beizhuw .bzinput input {
	height: 33px;
	width: 600px;
	padding-left: 10px;
	line-height: 33px;
	font-size: 14px;
}
.beizhuw .bzinput input::-webkit-input-placeholder {
	color: #999;
	font-size: 14px;
}

.beizhuw .bzinput input:-moz-placeholder {
	color: #999;
	font-size: 14px;
}

.beizhuw .bzinput input::-moz-placeholder {
	color: #999;
	font-size: 14px;
}

.beizhuw .bzinput input:-ms-input-placeholder {
	color: #999;
	font-size: 14px;
}

/*次日达*/
.cirida-wrap {
	width: 1280px;
	margin: 0 auto;
	border-top: 1px solid #E2E2E2;
	border-bottom: 1px solid #E2E2E2;
}
.cirida-wrap .cirif {
	height: 68px;
	line-height: 68px;
	color: #498e3d;
	font-size: 18px;
}
.sdtime {
	margin-bottom: 20px;
}
.sdtime .sdtimef {
	float: left;
	font-size: 16px;
	color: #666;
	margin-right: 20px;
}
.sdtime .timef {
	float: left;
	line-height: 25px;
	font-size: 16px;
	color: #333;
	margin-right: 20px;
}
.sdtime .xgtime-w {
	float: left;
}
.xgtime-w .rili {
	background: url(../img/sprite.png) no-repeat;
	height:22px;width:21px;background-position:0 -396px;
	float: left;
	margin-right: 10px;
}
.xgtime-w .djxg {
	color: #498E3D;
	font-size: 16px;
	float: left;
	height:22px;
	line-height: 22px;
}


/*实付金额和积分部分*/
.shifu-w {
	width: 1280px;
	margin: 0 auto;
	border-bottom: 1px solid #E2E2E2;
}
.shifu-w .shifu {
	height: 80px;
}
.shifu-w .shifu .shifuf {
	font-size: 18px;
	color: #666;
	float: right;
	height: 80px; 
	line-height: 80px;
	margin-right: 15px;
}
.shifu-w .shifu .shifu-num {
	font-size: 24px;
	color: #ff5757;
	float: right;
	height: 80px; 
	line-height: 80px;
}
.getjifen {
	height: 18px;
	margin-bottom: 40px;
}
.getjifen .jifenf {
	font-size: 16px;
	float: right;
	margin-right: 25px;
}
.getjifen .jifen-num {
	font-size: 16px;
	color: #F08200;
	float: right;
}
.order-btn {
	width: 150px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	float: right;
	background-color: #F08200;
	font-size: 20px;
	color: #fff;
	border-radius: 5px;
	margin-bottom: 40px;
}
