.w-p{
	height: 130px;
	width: 100%;
	border-bottom: 1px solid #E2E2E2;
	
}
.zf-top{
	height: 130px;
	width: 1280px;
	
	margin: 0 auto;
	
}
.zf-top img {
	height: 68px;
	margin-top: 31px;
	float: left;
}
.zf-top p{
	font-size:20px ;
	color: #666;
	height:36px ;
	line-height: 36px;
	padding-left:42px;
	border-left:1px solid #cecece;
	margin: 54px 0 0 60px;
	float: left;
}
